@import url(normalize.css);
@import url(header.css);
@import url(profile.css);
@import url(elements.css);
@import url(./fonts/Inter/inter.css);
@import url(footer.css);

*{
    background-color: black;
    color:white;
    font-family: Inter;
    font-weight:400;
    font-size:18px;
    line-height:22px;
}