.elements{
    width:880px;
    display:grid;
    grid-template: repeat(2, 1fr)/  repeat(3, 1fr);
    margin:0 auto 67px;
    gap:17px;
    justify-content: space-between;
}
.elements__containner{
    display: flex;
    flex-direction: column;

}
.elements__picture{
    width:282px;
    border-radius: 10px 10px 0px 0px;
}
.elements__rectangle{
    display: flex;
    align-items: center;
    width: 282px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.elements__description{
    width: 225px;
    margin:25px 0 31px 21px;
    background-color: white;
    color:black;
    font-weight:900;
    font-size: 24px;
    line-height:29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__button{
    background-color: white;
    width: 21px;
    height:19px;
    margin: 0 18px 0 0;
}
.elements__button:hover{
    opacity:50%;
    cursor:url(../Vendor/Images/hand_cursor.svg), auto;
}

.elements__button:active{
    -webkit-backdrop-filter: invert(1);
}

@media (max-width: 768px){
    
    .elements{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    }
}