.header{
    margin:45px auto 40px;
    width:880px;
    height:74px;
    border-bottom: 1px solid #545454;
}
@media (max-width: 768px){
    
    .header{
    width:100%;
    margin:0;
    }
    .header__logo{
        width:126px;
        height:24px;
        margin: 28px auto 32px 27px;
    }
}