.popup,
.popup-more{
    width:100%;
    display:none;
    z-index: 999;
    position:absolute;
    align-items:center;
    justify-items: space-around;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
    background-color: transparent ;
    
}

.popup-validate{
    position:relative;
    display:flex;
    flex-direction: column;
    background-color: white;
}

.popup-more__container,
.popup__container{
    position:sticky;
    width:430px;
    height:330px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border:none;
    outline:none;
    margin: 195px auto;
}

.popup-more__title,
.popup__title{
    margin:34px  auto 36px;
    background-color: white;
    color:black;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}
.popup-more__title{
    margin: 34px  36px 36px;
}
.popup__name-field,
.popup__job-field,
.popup-more__place-field,
.popup-more__url{
    width:358px;
    height:27px;
    padding: 0 0 13px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: none;
    outline:none;
    border-bottom: 1px solid black;
    margin:0 auto;
}

.popup-more__save-button,
.popup__save-button{
    width: 358px;
    height: 50px;
    border-radius: 2px;
    margin: 36px auto ;

}

.popup-more__save-button:hover,
.popup__save-button:hover{
    opacity:80%;
    cursor:url(../Images/hand_cursor.svg), auto;
}

.popup-more__close-button,
.popup__close-button{
    width:40px;
    position:absolute;
    right: -48px;
    top:-48px;
}

.popup-more__close-button:hover,
.popup__close-button:hover{
    opacity:60%;
    cursor:url(../Images/hand_cursor.svg), auto;
}

.popup-elements{
    position:fixed;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left:0%;
    top:0%;
    width:90vw;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 9999;
    background-color: transparent;
    margin:0;
    border:none;
}

.popup-elements__image{
    max-width: 75vw;
    max-height: 75vh;
    background-color: transparent;
    border-radius: 0px;
    margin:0;
    z-index: 9999;
}

.popup-elements__title{
    position:absolute;
    background-color: transparent;
    bottom:-20px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin:10px 0 0 0;
    z-index: 9999;
}
.popup__title-span,
.popup__job-field-span,
.popup-more__place-title-span,
.popup-more__url-title-span{
    width:358px;
    background-color: transparent;
    position:center;
    color:red;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin:0 auto 5px;
    z-index: 9999;
}

.popup-elements__close-button{
    width:40px;
    position:absolute;
    right: -50px;
    top:-50px;
    z-index: 9999;
    background-color: transparent;
}

@media (max-width: 768px){
    .popup,
    .popup-more{
        top:108px;
        margin:0;
    }

    .popup-more__container,
    .popup__container{
        width:282px;
        height:322px;
        padding:0;
        margin:0 auto;
    }

    .popup-more__close-button,
    .popup__close-button{
        width:26px;
        right: 0;
        top: -39px;
    }

    .popup-more__title,
    .popup__title{
        width:238px;
        margin:25px auto 16px;
        font-size: 18px;
        line-height: 22px;
    }

    .popup__name-field, 
    .popup__job-field,
    .popup-more__place-field,
    .popup-more__url{
        width:238px;
        height:17px;
    }

    .popup-more__save-button
    .popup__save-button{
        width:238px;
        height:46px;
    }
}

